<h1><%= @book.title %></h1>
<h2><%= @book.authors %></h2>
<h3><%= @book.isbn %></h3>
<p>
  <%= @book.description %>
</p>
  <div id="reservation-status">
    <%= render partial: "reservation_status", locals: { reservation: @book_reservation } %>
  </div>
<br />
<%= link_to "Edit this book's detail", edit_book_path, class: "btn" %>
<%= link_to "Delete this book", book_path(@book), method: :delete, class: "btn btn-danger" %>
<br /><br />
<%= link_to "Back to listing page", books_path, class: "btn" %> 
<br /><br />
  <div id="reservation-links">
    <%= render partial: "reservation_links", locals: { book: @book, reservation: @book_reservation } %>
  </div>
<div id="reservation-form" style="display: none;">
</div>
